*{
    margin: 0;
    padding: 0;
}

.main{
    width: 100%;
    background: linear-gradient(to top, rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%), url(https://images.pexels.com/photos/5380603/pexels-photo-5380603.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-position: center;
    background-size: 500px;
    height: 82vh;
}

.navbar{
    width: 1200px;
    height: 75px;
    margin: auto;
}

.icon{
    width: 200px;
    float: left;
    height: 70px;
}
.icon{
    width: 200px;
    float: left;
    height: 70px;
}

.logo{
    color: #ff7200;
    font-size: 35px;
    font-family: Arial;
    padding-left: 20px;
    float: left;
    padding-top: 10px;
    margin-top: 5px
}

.menu{
    width: 400px;
    float: left;
    height: 70px;
}

ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul li{
    list-style: none;
    margin-left: 62px;
    margin-top: 27px;
    font-size: 14px;
}

ul li a{
    text-decoration: none;
    color: #fff;
    font-family: Arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}

ul li a:hover{
    color: #ff7200;
}
 

.search{
    width: 330px;
    float: left;
    margin-left: 270px;
}

.srch{
    font-family: 'Times New Roman';
    width: 200px;
    height: 40px;
    background: transparent;
    border: 1px solid #ff7200;
    margin-top: 13px;
    color: #fff;
    border-right: none;
    font-size: 16px;
    float: left;
    padding: 10px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

.btn{
    width: 100px;
    height: 40px;
    background: #f0ecec;
    border: 2px solid #ff7200;
    margin-top: 13px;
    color: #050000;
    font-size: 15px;
    border-bottom-right-radius: 5px;
    border-bottom-right-radius: 5px;
    transition: 0.2s ease;
    cursor: pointer;
}

/* CONATCT CSS START HERE */
#contact{
    padding: 50px 0;
    background: #dbe9e9;
}
.contact-container{
    display: flex;
    background: #be9c9c;
}
.contact-image{
    width: 50%;
}
.contact-image img{
    display: block;
    height: 400px;
    object-fit: cover;
    object-position: center;
    width: 100%;
}
.form-container {
    padding: 10px;
    width: 50%;
    margin: auto;
    
}
.form-container input{
    display: block;
    width: 100%;
    border: none;
    border-bottom: 2px solid #630c0c;
    padding: 10px 0;
    box-shadow: none;
    outline: none;
    margin-bottom: 10px;
    color: #444;
      font-weight: 500;
}
.form-container textarea{
    display: block;
    width: 100%;
    border: none;
    border-bottom: 2px solid #836969;
    padding: 10px 0;
}
.food-container h2{
    font-size: 30px;
    font-weight: 400;
    color: #444;
    margin-bottom: 10px;
}
.form-container a{
    font-size: 12px;
}

/* **********************footer styling ********************* */
#footer h2{
    text-align: center;
    background: rgb(7, 7, 7);
    font-size: 20px;
    font-weight: 500;
    padding: 30px;
    color: #fff;
}